*.log
*.class
*.jar
*.war
*.iml

.idea/
*.iws
*/*.iml
out/

/web/node_modules/
.web.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/web/dist/
/web/build/

/extras/
/task/
/trying/